body{
    padding: 0;
    margin: 0;
    background-color:white;
    font-family: 'Chewy', cursive;
    
}
.quizName {
    padding: 20px; 
    display: flex;
    text-align: center;  
    justify-content: center; 
    font-size: 40px; 
    background-image: url(images/What\ Type\ of\ Varsha\ Are\ You_.png);
    color: #285FEC; 
}

h2 {
    text-align: center; 
    padding: 5px; 
    color: #285FEC;
    font-size: 30px; 
}

img {
 padding: 10px;  
}
.container {
    height: 150px;
    width: 150px;
    position: relative;
}

#collis, #hop, #novack, #lol {
    text-align: center; 
    text-decoration: none; 

    font-size: 25px; 
    padding: 20px; 
    
}

#firstQ {
    text-align: center; 
    
}
#secondQ {
    text-align: center; 
}
#thirdQ {
    text-align: center; 
}

#fourthQ {
    text-align: center; 
}

#fifthQ {
    display: flex; 
    justify-content: center; 
    text-align: center; 
}

img:not(#result_img):hover {
    /* border: 10px solid #285FEC; */
    box-shadow: 5px 5px 8px rgb(46, 46, 46);
    cursor: pointer;
}

input[type=radio]:checked ~img{
    border: 10px solid #285FEC;

}

/* Suppress all Radio Inputs */
input[type=radio] {
    display: none;
}

#submit {
    display: flex;
    justify-content: center; 
    padding-top: 10px; 
    
}

button {
    border: 0; 
    background: gray;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font: inherit;
    margin: 0;
    padding: 15px 30px;
    transition: all .1s linear;
}

button:active {
    background-color: #285FEC;
}

button:focus{
    background-color: #285FEC;
}
:target {
    color:  #285FEC;
}

.question_button {
    display: flex; 
    padding: 40px 30px; 
    margin: 0px 10px; 
    border: 1px solid black;
    background: white;
    color:black;
}

.question_button:hover {
    box-shadow: 5px 5px 8px rgb(46, 46, 46);
}
input[type=radio]:checked ~.question_button{
    border: 10px solid #285FEC;

}

#warning  {
    display: none;
    justify-content: center;
    color: rgb(241, 81, 82);
}

